In [8]:
import pandas as pd

faculty_data = pd.read_csv('teacher_details.csv') 
leaders_data = pd.read_csv('domain_leader.csv')  
helpers_data = pd.read_csv('domain_helpers.csv')  

domain_data = pd.concat([leaders_data, helpers_data]).drop_duplicates()

faculty_data['Valid'] = ~faculty_data['Registered Email ID'].isin(domain_data['Email'])


faculty_data['Associated'] = faculty_data['College Name'].isin(domain_data['College Name'])
faculty_data['Associated'] = faculty_data['Associated'].map({True: 'Associated', False: 'Not Associated'})

valid_faculty = faculty_data[(faculty_data['Valid']) & (faculty_data['Associated'] == 'Associated')]

valid_faculty.to_csv('valid_faculty.csv', index=False)
df = pd.read_csv('valid_faculty.csv')
df

,Timestamp,Email Address,Full Name,Registered Email ID,College Name,Valid,Associated
0,2024-02-02 08:30:00,teacher1@example.com,Teacher One,teacher1@example.com,University A,True,Associated
1,2024-02-02 09:15:00,teacher2@example.com,Teacher Two,teacher2@example.com,College B,True,Associated
2,2024-02-02 10:00:00,teacher3@example.com,Teacher Three,teacher3@example.com,Institute C,True,Associated
3,2024-02-02 11:00:00,teacher4@example.com,Teacher Four,teacher4@example.com,University D,True,Associated
4,2024-02-02 12:00:00,teacher5@example.com,Teacher Five,teacher5@example.com,College E,True,Associated
5,2024-02-02 13:00:00,teacher6@example.com,Teacher Six,teacher6@example.com,Institute F,True,Associated
6,2024-02-02 14:00:00,teacher7@example.com,Teacher Seven,teacher7@example.com,University G,True,Associated
7,2024-02-02 16:00:00,teacher8@example.com,Teacher Eight,teacher8@example.com,College H,True,Associated
8,2024-02-02 17:00:00,teacher9@example.com,Teacher Nine,teacher9@example.com,Institute I,True,Associated
9,2024-02-02 19:00:00,teacher10@example.com,Teacher Ten,teacher10@example.com,University J,True,Associated
10,2024-02-02 20:00:00,teacher11@example.com,Teacher Eleven,teacher11@example.com,College K,True,Associated
11,2024-02-02 22:00:00,teacher12@example.com,Teacher Twelve,teacher12@example.com,Institute L,True,Associated
12,2024-02-03 00:00:00,teacher13@example.com,Teacher Thirteen,teacher13@example.com,College N,True,Associated
13,2024-02-03 02:00:00,teacher14@example.com,Teacher Fourteen,teacher14@example.com,Institute O,True,Associated
14,2024-02-03 03:00:00,teacher15@example.com,Teacher Fifteen,teacher15@example.com,University P,True,Associated
15,2024-02-03 05:00:00,teacher16@example.com,Teacher Sixteen,teacher16@example.com,College Q,True,Associated
16,2024-02-03 08:00:00,teacher17@example.com,Teacher Seventeen,teacher17@example.com,University S,True,Associated
17,2024-02-03 09:00:00,leo@example.com,Leo Brown,leo@example.com,College T,True,Associated
18,2024-02-03 11:00:00,henry@example.com,Henry Garcia,henry@example.com,University V,True,Associated